
body {
    height: 1000px;
    background-image: url(https://cdn.discordapp.com/attachments/907050454431723531/988980116115845120/848d9e9f-373d-47e8-a25d-00483dfb27fa.jpg);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 77rem;
  }