{# Esto es un comentario #}
{% extends "plantillaBase.html" %}

{# definir contenidos que tendrán cada uno de los bloques #}
{% block script %} 
<script src="/static/js/suscripcion.js"></script>
{% endblock %}
{% block tituloPestana %} 
    CRUD Registroc
{% endblock %}
{% block tituloPagina %} 
  
{% endblock %}

{% block mensajes %} 
{% if mensaje %}
    <div class="alert alert-success" role="alert">
        {{ mensaje }}
    </div>
{% elif error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
{% endif %}
{% endblock %}

{% block contenido %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">S U S C R I B E T E</h1>
                        <form method="POST" action="{% url 'suscripcion' %}">
                            {% csrf_token %} 


                            <div class="mb-3">
                                <label class="mb-2 text-muted">Run<span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"  maxlength="10" size="10"     name="txtRun" class="form-control txtRun" value="{{ fila.runSus }}" >
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label class="mb-2 text-muted">Digito Verificador<span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"  maxlength="1" size="1"     name="txtDv" class="form-control txtDv" value="{{ fila.dvSus }}" >
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Nombre <span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"      name="txtNombre" class="form-control txtNombre" value="{{ fila.nombreSus }}" >
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name">Apellido <span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"      name="txtApellido" class="form-control txtApellido" value="{{ fila.apellidoSus }}" >
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted">E-Mail<span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"      name="txtEmail" class="form-control txtEmail" value="{{ fila.emailSus }}" >
                                </div>
                            </div>

                            <div class="mb-4 ">
                                <label class="mb-2 text-muted ">Celular<span class="text-danger">*</span></label>
                                <div class="col-md-5-center">
                                    <input type="hidden"    name="txtId" value="{{ fila.id }}">
                                    <input type="text"   maxlength="11"   name="txtCelular" class="form-control txtCelular" value="{{ fila.celularSus }}" >
                                </div>
                            </div>    
                                                   
                            <hr style="border:2px;">
                            <div class="row">
                                <h6 class=" text-center ">¿Desea Suscribirse?</h6>
                                <div class=" text-muted "><input type="checkbox" name="chkActivo" value="1" {% if fila.activoSus %}{{ 'checked' }}{% endif %}> Seleccione la casilla para suscribirse</div>

                            </div>
                            
                            <p class="form-text text-muted mb-3 mt-3">
                                Al suscribirte estás de acuerdo con nuestros términos y condiciones.
                            </p>
                            
                            <div class="row">
                                <div class="align-items-center d-flex">
                                    <input type="submit" id="btnGrabar" name="btnGrabar" class="btn btn-dark btnGrabar" value="Registrarse">
                                    <input type="reset" name="btnLimpiar" class="btn btn-outline-secondary btnLimpiar" value="Limpiar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}